USE [master]
GO
/****** Object:  Database [PRACTICE]    Script Date: 29-04-2023 23:23:28 ******/
CREATE DATABASE [PRACTICE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRACTICE', FILENAME = N'D:\Softwares\SQL server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PRACTICE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRACTICE_log', FILENAME = N'D:\Softwares\SQL server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PRACTICE_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRACTICE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRACTICE]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 29-04-2023 23:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpName] [varchar](35) NULL,
	[Salary] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[employees] ON 

INSERT [dbo].[employees] ([ID], [EmpName], [Salary]) VALUES (1, N'Harsh', CAST(1000.00 AS Decimal(8, 2)))
INSERT [dbo].[employees] ([ID], [EmpName], [Salary]) VALUES (2, N'Roshan', CAST(5000.00 AS Decimal(8, 2)))
INSERT [dbo].[employees] ([ID], [EmpName], [Salary]) VALUES (3, N'Kartik', CAST(1000.00 AS Decimal(8, 2)))
SET IDENTITY_INSERT [dbo].[employees] OFF
GO
USE [master]
GO
